### ☁️ Cloudflare-API-Zugang
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token

### 🖥️ UpCloud API-Zugangsdaten (für PTR-Record setzen)
UPCLOUD_API_USER=your_upcloud_username
UPCLOUD_API_PASS=your_upcloud_password

### 🐙 GitHub API-Zugang
GITHUB_API_TOKEN=ghp_your_token_here

